<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class=" container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="/signin" class=" btn text-light">
            <i class="bi bi-box-arrow-right p-1"> </i>Log Out
        </a>
          
          <div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header text-light">
              <h5 class="offcanvas-title " id="offcanvasNavbarLabel">Library</h5>
              <button type="button" class="btn-close btn-close-white " data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                  </form>

              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                <%for(i=0;i<nav.length;i++){%>
                <li class="nav-item">
                  <a class="nav-link "  href="<%=nav[i].link%>"><%=nav[i].name%></a>
                </li>
                <%}%>
               
               
               
              </ul>
              
            </div>
          </div>
        </div>
    </nav>

    <section  class="p-lg-5 p-3">
        <h2 class="text-center text-white">Trending Authors        </h2>
        <p class="lead text-center text-white mb-5"></p>
    
        <div class="row g-4">
            <%for(i=0;i<authors.length;i++){%>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="/images/<%=authors[i].image%>"  class="imgs rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3"><%=authors[i].name%></h3>
                     <div class="m-1">
                      <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                      <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                      <a href=""><i class="bi bi-instagram text-dark mx-1"></i></a>
                      <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                      
                     </div>
                        <a href="/authors/<%=authors[i]._id%>" class="btn btn-light mt-3">
                            <i class="bi bi-chevron-right"> </i>Know More
                        </a>
                    </div>
                </div>
            </div>
       
       <%}%>
      
        </div>
    </section>
    
<footer class="pt-5 bg-dark text-white text-center position-relative">
    <div class="container">
      
        <p>Developed By  <i class="bi bi-heart"> </i>  Syamjith</p>      

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>

</footer>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>